main {
  margin: 0 auto;
  width: 700px;
}

table {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table td {
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
}

table th {
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  background-color: #c6d9f1;
}

.table__cell {
  font-size: 20px;
  padding: 8px;
}

button:hover,
.table__header .table__cell:hover {
  background-color: #a2cafd;
  cursor: pointer;
}

button:active {
  background-color: #e7eff8;
}

input {
  width: 640px;
  margin: 0;
  margin-right: -5px;
  margin-bottom: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid #000000;
  font-size: 20px;
}

button {
  width: 60px;
  padding: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0;
  border: 1px solid #000000;
  background-color: #c6d9f1;
  font-size: 20px;
}


.pagination {
  margin-bottom: 30px;
}

/* Pagination links */
.pagination a {
  display: inline-block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  font-size: 20px;
  background-color: #ecf6ff;
  border: 1px solid #cad1d8;
  box-sizing: border-box;
}

/* Style the active/current link */
.pagination a.active {
  background-color: #1e90ff;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
  background-color: #bfdfff;
}
